body {
  background: url("/lives/images/bg.png") repeat;
}
.post-title {
  font-size: 42px !important;
  color: #2dbe60;
  font-weight: bold !important;
}
a.post-title-link {
  font-size: 42px !important;
  color: #2dbe60 !important;
  font-weight: bold !important;
}
a.post-title-link:hover {
  text-decoration: none !important;
}
/* 首页标题的下划线效果 */
.post-title-link::before {
  background-color: #2dbe60 !important; /* 下划线不是 underline, text-decoratioin, border-bottom，而是 bg-color */
}
/* 分类页用 */
a.post-title-link span {
  font-size: 18px !important;
}
h2 {
  font-size: 28px;
  color: #2dbe60;
}
.headband {
  display: none;
}
.header-inner {
  padding: 0;
}
/* 博客名称 */
.brand {
  margin-top: 45px;
/* display: none; */
  color: #555;
  background-color: transparent;
}
.brand:hover {
  color: #2dbe60;
}
.brand span.site-title {
  font-size: 24px;
  font-weight: bold;
}
.menu li a {
  border: solid 2px #bbb !important;
  background-color: #fefefe;
  border-radius: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60px;
  margin: 20px;
}
.menu li a:hover {
  color: #2dbe60;
  border-color: #2dbe60 !important;
  background-color: #f0fad2;
  font-weight: bold;
  transition-property: all;
  transition-duration: 0.5s;
}
/* 首页每篇之间的分隔线 */
.post-eof {
  background-color: transparent !important;
  margin: 20px 0 !important;
}
.highlight {
  border-radius: 5px;
  border: solid 1px #ccc;
}
blockquote {
  border-radius: 5px;
  border-left: solid 8px #ccc;
  border-right: solid 1px #ccc;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  background-color: #f8f8f8;
  padding-top: 18px;
}
td.gutter pre {
  background-color: #ccc;
}
.sidebar-nav .sidebar-nav-active {
  color: #2dbe60 !important;
  border-bottom-color: #2dbe60 !important;
}
.sidebar-nav .sidebar-nav-active:hover {
  color: #0f0 !important;
  border-bottom-color: #0f0 !important;
}
.sidebar-toggle {
  background-color: #bcbcbc !important;
}
.sidebar-toggle-line {
  background-color: #777 !important;
}
.back-to-top {
  background-color: #bcbcbc !important;
  color: #000 !important;
}
strong {
  color: #2dbe60;
}
.btn {
  border-color: #bbb;
  background-color: #f7f7f7 !important;
  color: #000 !important;
  border-radius: 5px !important;
}
.btn:hover {
  border-color: #2dbe60 !important;
  background-color: #f0fad2 !important;
  color: #000 !important;
  border-radius: 5px !important;
}
.post-tags a {
  background-color: #f7f7f7;
  border: solid 2px #bbb;
  padding: 2px 4px;
  border-radius: 5px;
}
.post-tags a:hover {
  background-color: #f0fad2;
  border: solid 2px #2dbe60;
  padding: 2px 4px;
  border-radius: 5px;
}
::selection {
  background-color: #000;
  color: #0f0;
}
::-moz-selection {
  background-color: #000;
  color: #0f0;
}
