/* latin */
@font-face {
  font-family: 'Galdeano';
  font-style: normal;
  font-weight: 400;
  src: url("/stylus/lib/font-Galdeano/galdeano-webfont.woff2") format('woff2'), url("/stylus/lib/font-Galdeano/galdeano-webfont.woff") format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya'), local('Alegreya-Regular'), url("/stylus/lib/fonts/alegreya-regular.woff2") format('woff2'), url("/stylus/lib/fonts/alegreya-regular.woff") format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Italic'), local('Alegreya-Italic'), url("/stylus/lib/fonts/alegreya-italic.woff2") format('woff2'), url("/stylus/lib/fonts/alegreya-italic.woff") format('woff');
}
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url("/stylus/lib/fonts/pt-mono-regular.woff2") format('woff2'), url("/stylus/lib/fonts/pt-mono-regular.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url("/stylus/lib/fonts/source-sans-pro-regular.woff2") format('woff2'), url("/stylus/lib/fonts/source-sans-pro-regular.woff") format('woff');
}
body,
.post-body {
  font-size: 19px;
  font-family: 'Alegreya', 'Palatino Linotype', 'Book Antiqua', Palatino, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', '仿宋', 'FangSong', 'NSimSun', 'Microsoft YaHei', serif !important;
  color: #333;
}
body {
  background: #f3f3f3 url("/stylus/images/bg.png") repeat;
}
/* 正文标题 */
.post-title {
  font-size: 42px !important;
  color: #2dbe60;
  font-weight: bold !important;
}
a.post-title-link {
  font-size: 42px !important;
  color: #333 !important;
  font-weight: bold !important;
}
a.post-title-link:hover {
  text-decoration: none !important;
  background: transparent;
  border-top: none;
}
/* 存档页中文章标题与时间对齐 */
.post-title-link span {
  font-size: 18px !important;
  padding-left: 2em;
  display: block;
}
/* 缩小年内部每篇文章之间的间距 */
article.post-type-normal {
  margin: 8px 0 !important;
}
/* 缩小年上下的间距 */
.collection-title {
  margin: 30px 0 !important;
}
/* 首页标题的下划线效果 */
.post-title-link::before {
  background-color: #aceac8 !important; /* 下划线不是 underline, text-decoratioin, border-bottom，而是 bg-color */
}
h1,
h2,
h3,
h4 {
  font-family: 'Alegreya', 'Palatino Linotype', 'Book Antiqua', Palatino, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', '仿宋', 'FangSong', 'NSimSun', 'Microsoft YaHei', serif !important;
}
h1 {
  font-size: 36px;
  color: #333 !important;
}
h2 {
  font-size: 28px;
  color: #2dbe60;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h1 code {
  font-size: 36px;
}
h2 code {
  font-size: 28px;
}
h3 code {
  font-size: 24px;
}
h4 code {
  font-size: 20px;
}
a:link,
a:visited {
  border-bottom: solid 3px #aceac8;
}
a:hover {
  color: #555;
  border-bottom: solid 3px #aceac8;
  background-color: #aceac8;
  border-top: solid 1px #aceac8;
}
.headband {
  display: none;
}
.header-inner {
  padding: 0;
}
/* 导航栏部分 1. 超链接效果；2. 字体；3. 背景颜色 */
/* 博客名称 */
.site-nav-toggle {
  top: 19px;
}
@media (max-width: 767px) {
  .custom-logo-site-title {
    position: absolute;
    right: 20px;
    top: 17px;
  }
  .site-nav {
    background-color: #f6f6f6;
  }
}
.brand {
  margin-top: 0px;
/* display: none; */
  color: #555;
  background-color: transparent;
  border: none !important;
}
.brand:hover {
  color: #2dbe60;
  background: transparent;
  border: none;
}
.brand span.site-title {
  font-size: 24px;
  font-weight: bold;
}
header#header {
  margin-top: 0px !important;
  background-color: rgba(0,0,0,0.06);
  min-height: 40px;
  padding-top: 3px;
  padding-bottom: 38px;
  border-bottom: solid 1px #e1e1e1;
}
#menu li a i,
#menu li a br {
  display: none;
}
.site-brand-wrapper {
  display: inline-block;
  float: left;
  padding-top: 18px;
}
.menu {
  float: right;
}
.menu li {
  float: left !important; /* 此时导航栏顺序刚好颠倒，需要在配置文件中也颠倒一次 */
  margin-right: 0px !important;
  margin-left: 2em !important;
}
.menu li a {
  font-size: 18px !important;
  color: #222;
}
.menu li a:hover {
  border-bottom: solid 2px #aaa !important;
  color: #222;
  background: transparent;
  border-top: none;
}
a.brand {
  padding: 0px; /* 默认有 40px */
}
/* header 部分的圆圈导航 */
/*
		.menu li a {
			border: solid 2px #BBB !important;
			background-color: #FEFEFE;
			border-radius: 50%;
			padding-top: 5px;
			padding-bottom: 5px;
			width: 60px;
			margin: 20px;
		}
		.menu li a:hover {
			color: #2dbe60;
			border-color: #2dbe60 !important;
			background-color: #F0FAD2;
			font-weight: bold;
			transition-property: all;
			transition-duration: 0.5s;
		}
		/* Chrome: 图标和文字没有对齐 */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .menu-item-icon {
    padding-left: 3px;
  }
}
/* Firefox */
@-moz-document url-prefix() {
  .menu-item-icon {
    padding-left: 0px;
  }
}
/* IE10+: 默认图标和文字已经对齐 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .menu-item-icon {
    padding-left: 0px;
  }
}
/* http://www.webkaka.com/tutorial/html/2015/080912/ */
*
/* 分类页 */
.category-list-item {
  display: inline;
}
.category-list-item a {
  margin-top: -38px;
  padding: 0.7em 1em;
  display: block;
  font-size: 18px;
  color: #333;
  font-weight: bold;
  border-bottom: dashed 1px #ccc !important;
}
.category-list-item a:hover {
  font-size: 18px;
  color: #2dbe60;
  font-weight: bold;
  background-color: #e3e3e3;
  border-top: none;
}
span.category-list-count {
  float: right;
  margin-top: -2.7em;
  padding-right: 0.5em;
}
/* 首页每篇之间的分隔线 */
.post-eof {
  border-bottom: solid 1px #fefefe;
  width: 100% !important;
}
/* 语法高亮块 */
.highlight {
  border-radius: 5px;
  border: solid 1px #ccc;
  background-color: #fcfcfc;
}
.highlight .gutter pre {
  font-size: 15px;
  background-color: #f7f7f7;
}
td.code pre {
  font-size: 15px;
  background-color: #fcfcfc !important;
}
/* 正文段落 */
p {
  line-height: 1.75em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
/* 脚注 */
ol.footnotes-list li {
  margin-top: 0em;
  margin-bottom: 0.3em;
}
ol.footnotes-list li p {
  line-height: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
/* 默认的公式比周围的文字大，难看；另外用 em 和 px 似乎不起作用(也可能是大小不正确) */
.MathJax {
  font-size: 10px !important;
}
/* > 开始引用内容对应的样式 */
blockquote {
  color: #000;
  border-radius: 5px;
  border-left: solid 8px #ccc;
  border-right: solid 1px #ccc;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  background-color: #f8f8f8;
  padding-top: 0px;
  margin-bottom: 20px;
  font-family: 'Alegreya', 'Palatino Linotype', 'Book Antiqua', Palatino, 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;
}
blockquote p {
  margin: 10px 0;
}
/* 用一个 tab 缩进产生的 pre 效果 */
code {
  font-size: 16px;
  border-radius: 5px;
  padding: 3px 4px;
  color: #090;
  background-color: #f2f9f4;
  font-family: 'PT Mono', 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
pre {
  font-size: 14px !important;
  border: solid 1px #ccc;
  border-radius: 5px;
/* knitr 会专门做一个没有底色的css，所以这里不会起作用 background-color: #333; */
  padding: 20px 25px;
  overflow-x: hidden;
  font-family: 'PT Mono', 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
pre.white {
  color: #000;
  font-size: 17px !important;
  background-color: #fefefe;
}
pre.center {
  text-align: center !important;
  line-height: 2em;
  font-size: 19px !important;
  border: none;
  background-color: transparent;
  padding: 0px;
}
pre code {
  font-size: 17px;
  padding: 0px; /* 段落中的 code 左边的 padding=4px 会导致 pre 中的 code 第一行左边相对下面的其它行有一个向右的偏移 */
  background-color: transparent;
  color: #000;
  white-space: pre-wrap; /* 让 code 标记中的内容过宽时自动换行，不能用 normal，否则换行符也消失了 */
}
.sidebar-nav-toc,
.sidebar-nav-overview,
.links-of-blogroll-title {
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif !important;
}
.sidebar-nav .sidebar-nav-active {
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif !important;
  color: #2dbe60 !important;
  border-bottom-color: #2dbe60 !important;
}
.sidebar-nav .sidebar-nav-active:hover {
  color: #0f0 !important;
  border-bottom-color: #0f0 !important;
}
/* 右侧 toc 当前 */
.feed-link a:link {
/* RSS */
  border: solid 1px #f46123;
}
.links-of-author-item a:link,
.links-of-blogroll-item a:link {
/* 个人信息、友情链接 */
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif !important;
  border-bottom: solid 1px #555;
}
.links-of-author-item a:hover,
.links-of-blogroll-item a:hover {
  border-bottom: solid 1px #555;
  background: transparent;
  border-top: none;
}
.site-state-item a:link {
/* 文章数等 */
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif !important;
  border: none;
}
.site-state-item a:hover {
  border: none;
  background: transparent;
}
a.nav-link {
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif !important;
  border-bottom: solid 1px #555 !important;
}
a.nav-link:hover {
  background: transparent;
  border-top: none;
  border-bottom: solid 1px #ccc !important;
}
.active a {
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif !important;
  color: #bbb !important;
  border-bottom: solid 1px #bbb !important;
}
.active a:hover {
  color: #0f0 !important;
  border-bottom-color: #0f0 !important;
  background: transparent;
  border-top: none;
}
.active-current a {
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif !important;
  color: #2dbe60 !important;
  border-bottom: solid 1px #2dbe60 !important;
}
.active-current a:hover {
  color: #0f0 !important;
  border-bottom-color: #0f0 !important;
  background: transparent;
  border-top: none;
}
.sidebar-toggle {
  background-color: #bcbcbc !important;
}
.sidebar-toggle-line {
  background-color: #777 !important;
}
.back-to-top {
  background-color: #bcbcbc !important;
  color: #000 !important;
}
.tag-cloud-tags {
  margin-top: 2em;
  background-color: #fefefe;
  border: solid 1px #ccc;
  border-radius: 5px;
}
strong {
  color: #2dbe60;
}
/* 阅读更多 */
.btn {
  border: solid 2px #bbb !important;
  background-color: #f7f7f7 !important;
  color: #000 !important;
  border-radius: 5px !important;
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif !important;
}
.btn:hover {
  border-color: #2dbe60 !important;
  background-color: #f0fad2 !important;
  color: #000 !important;
  border-radius: 5px !important;
}
/* 首页页码 */
a.prev,
a.next,
a.page-number {
  border: none !important;
  background-color: #e3e3e3 !important;
}
a.prev:hover,
a.next:hover,
a.page-number:hover {
  background-color: #ccc !important;
  transition: none;
  color: #fff;
}
/* 正文标签 */
.post-tags a {
  background-color: #f7f7f7;
  border: solid 2px #bbb;
  padding: 2px 4px;
  border-radius: 5px;
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif !important;
}
.post-tags a:hover {
  background-color: #f0fad2;
  border: solid 2px #2dbe60;
  padding: 2px 4px;
  border-radius: 5px;
}
.post-nav-item a:link {
  font-size: 16px;
  border: none !important;
}
.post-nav-item a:hover {
  color: #222;
  background: transparent;
}
.post-time {
/* 存档页时间 */
  font-size: 13px;
  font-family: Galdeano, Helvetica, "Microsoft YaHei", sans-serif;
}
/* 图片预览右上角的 X */
a.fancybox-close:link,
a.fancybox-nav:link {
  border-bottom: none !important;
}
a.fancybox-close:hover,
a.fancybox-nav:hover {
  background-color: transparent;
}
/* 版权部分 */
.copyright {
  font-family: Galdeano, Helvetica, "Microsoft YaHei", sans-serif;
  font-size: 18px;
}
.copyright a {
  color: #2dbe60;
  border-bottom: dashed 1px #bbb;
}
.copyright a:hover {
  color: #236e25;
  background: transparent;
  border-top: none;
}
.copyright .with-love {
  font-size: 15px;
}
hr {
  height: 0px !important;
  border-top: solid 1px #ccc !important;
  border-bottom: solid 1px #fefefe !important;
  background: none !important;
}
em {
  display: block;
  text-align: center;
  font-style: normal;
}
table {
  border-collapse: separate !important;
  border-bottom: none;
  table-layout: auto;
}
::selection {
  background-color: #000;
  color: #0f0;
}
::-moz-selection {
  background-color: #000;
  color: #0f0;
}
