body {
  background: #f3f3f3 url("/lives/images/bg.png") repeat;
}
/* 正文标题 */
.post-title {
  font-size: 42px !important;
  color: #2dbe60;
  font-weight: bold !important;
}
a.post-title-link {
  font-size: 42px !important;
  color: #2dbe60 !important;
  font-weight: bold !important;
}
a.post-title-link:hover {
  text-decoration: none !important;
}
/* 存档页中文章标题与时间对齐 */
.post-title-link span {
  display: block;
}
/* 缩小年内部每篇文章之间的间距 */
article.post-type-normal {
  margin: 8px 0 !important;
}
/* 缩小年上下的间距 */
.collection-title {
  margin: 30px 0 !important;
}
/* 首页标题的下划线效果 */
.post-title-link::before {
  background-color: #2dbe60 !important; /* 下划线不是 underline, text-decoratioin, border-bottom，而是 bg-color */
}
/* 分类页用 */
a.post-title-link span {
  font-size: 18px !important;
}
h2 {
  font-size: 28px;
  color: #2dbe60;
}
.headband {
  display: none;
}
.header-inner {
  padding: 0;
}
/* 博客名称 */
.brand {
  margin-top: 45px;
/* display: none; */
  color: #555;
  background-color: transparent;
}
.brand:hover {
  color: #2dbe60;
}
.brand span.site-title {
  font-size: 24px;
  font-weight: bold;
}
/* header 部分的圆圈导航 */
.menu li a {
  border: solid 2px #bbb !important;
  background-color: #fefefe;
  border-radius: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60px;
  margin: 20px;
}
.menu li a:hover {
  color: #2dbe60;
  border-color: #2dbe60 !important;
  background-color: #f0fad2;
  font-weight: bold;
  transition-property: all;
  transition-duration: 0.5s;
}
.category-list-item {
  display: inline;
}
.category-list-item a {
  margin-top: -1.78em;
  padding: 1em 1em;
  display: block;
  font-size: 18px;
  color: #2dbe60;
  font-weight: bold;
  border-bottom: dashed 1px #ccc !important;
}
.category-list-item a:hover {
  font-size: 18px;
  color: #2dbe60;
  font-weight: bold;
  background-color: #e3e3e3;
}
span.category-list-count {
  float: right;
  margin-top: -3.3em;
  padding-right: 0.5em;
}
/* 首页每篇之间的分隔线 */
.post-eof {
  border-bottom: solid 1px #fefefe;
  width: 100% !important;
}
/* 语法高亮块 */
.highlight {
  border-radius: 5px;
  border: solid 1px #ccc;
  background-color: #fcfcfc;
}
.highlight .gutter pre {
  background-color: #f7f7f7;
}
td.code pre {
  background-color: #fcfcfc !important;
}
/* > 开始引用内容对应的样式 */
blockquote {
  border-radius: 5px;
  border-left: solid 8px #ccc;
  border-right: solid 1px #ccc;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  background-color: #f8f8f8;
  padding-top: 0px;
  margin-bottom: 20px;
}
blockquote p {
  margin: 10px 0;
}
/* 用一个 tab 缩进产生的 pre 效果 */
code {
  border-radius: 5px;
  padding: 3px 4px;
  color: #090;
  background-color: #f2f9f4;
}
pre {
  border: solid 1px #ccc;
  border-radius: 5px;
/* knitr 会专门做一个没有底色的css，所以这里不会起作用 background-color: #333; */
  padding: 20px 25px;
}
pre.white {
  background-color: #fefefe;
}
pre.center {
  text-align: center !important;
  line-height: 2em;
  font-size: 16px;
  border: none;
  background-color: transparent;
  padding: 0px;
}
pre code {
  padding: 0px; /* 段落中的 code 左边的 padding=4px 会导致 pre 中的 code 第一行左边相对下面的其它行有一个向右的偏移 */
  background-color: transparent;
  color: #000;
  white-space: pre-wrap; /* 让 code 标记中的内容过宽时自动换行，不能用 normal，否则换行符也消失了 */
}
.sidebar-nav .sidebar-nav-active {
  color: #2dbe60 !important;
  border-bottom-color: #2dbe60 !important;
}
.sidebar-nav .sidebar-nav-active:hover {
  color: #0f0 !important;
  border-bottom-color: #0f0 !important;
}
/* 右侧 toc 当前 */
.active-current a {
  color: #2dbe60 !important;
  border-bottom-color: #2dbe60 !important;
}
.active-current a:hover {
  color: #0f0 !important;
  border-bottom-color: #0f0 !important;
}
.sidebar-toggle {
  background-color: #bcbcbc !important;
}
.sidebar-toggle-line {
  background-color: #777 !important;
}
.back-to-top {
  background-color: #bcbcbc !important;
  color: #000 !important;
}
.tag-cloud-tags {
  margin-top: 2em;
  background-color: #fefefe;
  border: solid 1px #ccc;
  border-radius: 5px;
}
strong {
  color: #2dbe60;
}
/* 阅读更多 */
.btn {
  border-color: #bbb;
  background-color: #f7f7f7 !important;
  color: #000 !important;
  border-radius: 5px !important;
}
.btn:hover {
  border-color: #2dbe60 !important;
  background-color: #f0fad2 !important;
  color: #000 !important;
  border-radius: 5px !important;
}
/* 首页页码 */
a.prev,
a.next,
a.page-number {
  border: none !important;
  background-color: #e3e3e3 !important;
}
a.prev:hover,
a.next:hover,
a.page-number:hover {
  background-color: #ccc !important;
  transition: none;
  color: #fff;
  font-weight: bold;
}
/* 正文标签 */
.post-tags a {
  background-color: #f7f7f7;
  border: solid 2px #bbb;
  padding: 2px 4px;
  border-radius: 5px;
}
.post-tags a:hover {
  background-color: #f0fad2;
  border: solid 2px #2dbe60;
  padding: 2px 4px;
  border-radius: 5px;
}
/* 版权部分 */
.copyright {
  font-family: Galdeano, Helvetica, Roboto;
  font-size: 18px;
}
.copyright a {
  color: #2dbe60;
  border-bottom: dashed 1px #bbb;
}
.copyright a:hover {
  color: #236e25;
}
.copyright .with-love {
  font-size: 15px;
}
hr {
  height: 0px !important;
  border-top: solid 1px #ccc !important;
  border-bottom: solid 1px #fefefe !important;
  background: none !important;
}
em {
  display: block;
  text-align: center;
  font-style: normal;
}
::selection {
  background-color: #000;
  color: #0f0;
}
::-moz-selection {
  background-color: #000;
  color: #0f0;
}
